<%- include("header");-%>
<h1 style="margin-top:20%;">Admin</h1>
<p>This is the control panel where you can delete and create poems and delete comments</p>
<br>
<br>
<p style="">Craete Poem</p>
<a href="/Create"><i style="font-size:140%;" class="fas fa-plus-circle"></i></a>
<br>
<br>
<br>
<p style="">Delete Poems and Comments</p>
<a href="/delete"><i style="font-size:140%;" class="fas fa-trash"></i></a>
 <br>
 <br>

         <script type="text/javascript">
           var navBTN = document.getElementById('navBTN');
           var icon_of_nav_btn = document.getElementById('icon-of-nav-btn')
           var homeTab = document.getElementById('homeTab');
           var line1 = document.getElementById('line-1');
           var line2 = document.getElementById('line-2');
           var line3 = document.getElementById('line-3');
           var navbartop = document.getElementById('navbartop');
         t = 0; p = 0;
         navBTN.addEventListener("click", function () {
         if (p == 0) {
         t = t + 1;
         icon_of_nav_btn.classList.remove('openBurger');
         line1.classList.add('line_one_animation');
         line2.classList.add('line_two_animation');
         line3.classList.add('line_three_animation');
         p = 1;
         } if (t % 2 == 0) {
            t = t + 1;
            console.log("close");
            line1.classList.remove('line_one_animation');
            line2.classList.remove('line_two_animation');
            line3.classList.remove('line_three_animation');
            icon_of_nav_btn.classList.add('openBurger');
         } else {
             t = t + 1;
             line1.classList.add('line_one_animation');
             line2.classList.add('line_two_animation');
             line3.classList.add('line_three_animation');
             icon_of_nav_btn.classList.remove('openBurger');
           }
         });
         </script>
         <!-- Optional JavaScript -->
         <!-- jQuery first, then Popper.js, then Bootstrap JS -->
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
         </html>
