
    <!doctype html>
    <html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.typekit.net/ket8cbw.css">
        <link rel="shortcut icon" type="image/png"  href="images/favicon.png">
        <title style="font-family: philosopher, sans-serif;">Poetry</title>
      </head>
      <body>

    <h2 style="margin-top:15%;">Sign in with:</h2>
    <p style="margin-top:15%;">You can sign up by using one of the following methods once signed in you can post a comment please note this is to prevent unwanted users from posting malicious comments.</p>
    <p style="margin-top:15%;">Also all sign in methods are done with third party log in authentication (google, facebook and twitter).</p>
<div style="text-align:center; margin-top:120px; display:inline-block;">
<a href="/auth/google">
<div class="social-btn" style="margin-bottom:50px;">
  <div class="social-icon-wrapper">
    <img class="social-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
  </div>
  <div style="text-align:center;">
  <p class="btn-text">Sign in with google</p>
</div>
</a>
<a href="/auth/facebook">
</div>
<div class="social-btn" style="margin-bottom:50px;">
  <div class="social-icon-wrapper">
    <img class="social-icon" src="https://www.flaticon.com/svg/static/icons/svg/733/733547.svg"/>
  </div>
  <p class="btn-text">Sign in with facebook</p>
</div>
</a>
<a href="/auth/twitter">
<div class="social-btn">
  <div class="social-icon-wrapper">
    <img class="social-icon" src="https://www.flaticon.com/svg/static/icons/svg/733/733579.svg"/>
  </div>
  <p class="btn-text">Sign in with twitter</p>
</div>
</a>
</div>
         <p style="margin-top:15%; font-size:80%;">See the <a href="termsOfservice">Terms of service</a> and <a href="Privacy_Policy">Privacy policy</a></p>
     <div style="text-align:center; margin-bottom:30px; margin-top:90px;">
       <a href="/"><button type="button" class="btn btn-outline-dark" name="button">Cancel</button></a>
     </div>
<div>
<%- include("footer");-%>

</div>
