<%- include("header");-%>
<form class="" action="/logOut" method="post">
  <div style="text-align:center; margin-top:120px; display:inline-block;">
  <button type="submit" name="button" style="border:none;margin:0;padding:0;">
  <div class="social-btn">
    <div class="social-icon-wrapper">
      <i class="fas fa-sign-out-alt social-icon" style="font-size:120%!important;"></i>
    </div>
    <p class="btn-text">Logout</p>
  </div>
  </button>
  </div>
  <br>
  <br>
  <p><%=content%></p>
</form>
<%- include("footer");-%>
