<footer>
            </div>
            <div class="footer-padding"></div>
              <div class="footer">
                <p>All rights are reseverd for use to they respeceted owners</p>
                <p>Created on 2019 by Jason Moses</p>
                <p><a href="http://www.jasonkmoses.tk/">Contact the developer if there are any issues or for general improvements</a></p>
                <p>Powered through <a href="https://devcenter.heroku.com/">Heroku</a></p>
                <p>Follow me on:</p>
                <a href="https://www.facebook.com/heide.zhang?ref=br_rs"><i class="fab fa-facebook"></i></a>

              </div>


</footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      </body>
    </html>
